{
    "presets": [ 
        ["es2015", { "modules": false }],
        "react"
    ],
    "plugins": [
        "react-require",
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ]
}
