<!--******************************************************************

   This is the basic structure of the applciation, used by webpack.

*******************************************************************-->

<!DOCTYPE html>
<html>
<meta charset=utf-8/>
<title><%= htmlWebpackPlugin.options.title %></title>
<div id=app>